###############################################################################
##
##Licensed Materials - Property of IBM
##
##(C) Copyright IBM Corp. 2021. All Rights Reserved.
##
##US Government Users Restricted Rights - Use, duplication or
##disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
##
###############################################################################
apiVersion: icp4a.ibm.com/v1
kind: ICP4ACluster
metadata:
  labels:
    app.kubernetes.io/instance: ibm-dba
    app.kubernetes.io/managed-by: ibm-dba
    app.kubernetes.io/name: ibm-dba
    release: 22.0.1
  name: icp4adeploy
  namespace: cp4ba
spec:
  appVersion: 22.0.1
  bai_configuration:
    business_performance_center:
      all_users_access: true
    image_credentials:
      registry: cp.icr.io/cp/cp4a
  ibm_license: accept
  navigator_configuration:
    image:
      repository: cp.icr.io/cp/cp4a/ban/navigator
      tag: 22.0.1
  odm_configuration:
    decisionCenter:
      enabled: true
    decisionRunner:
      enabled: true
    decisionServerRuntime:
      enabled: true
    image:
      pullSecrets: ibm-entitlement-key
      repository: cp.icr.io/cp/cp4a/odm
  resource_registry_configuration:
    images:
      resource_registry:
        repository: cp.icr.io/cp/cp4a/aae/dba-etcd
        tag: 22.0.1
  shared_configuration:
    sc_cpe_limited_storage: false
    sc_deployment_type: Starter
    sc_optional_components: 'bai,decisionCenter,decisionRunner,decisionServerRuntime'
    sc_drivers_url: null
    image_pull_secrets:
      - ibm-entitlement-key
    trusted_certificate_list: []
    sc_deployment_patterns: 'foundation,decisions'
    sc_deployment_baw_license: non-production
    storage_configuration:
      sc_block_storage_classname: ${storage_class_rwo}
      sc_dynamic_storage_classname: ${storage_class}
      sc_fast_file_storage_classname: ${storage_class}
      sc_medium_file_storage_classname: ${storage_class}
      sc_slow_file_storage_classname: ${storage_class}
    sc_deployment_license: non-production
    images:
      dbcompatibility_init_container:
        repository: cp.icr.io/cp/cp4a/aae/dba-dbcompatibility-initcontainer
        tag: 22.0.1
      keytool_init_container:
        repository: cp.icr.io/cp/cp4a/ums/dba-keytool-initcontainer
        tag: 22.0.1
      keytool_job_container:
        repository: cp.icr.io/cp/cp4a/ums/dba-keytool-jobcontainer
        tag: 22.0.1
      openldap:
        repository: cp.icr.io/cp/cp4a/demo/openldap
        tag: 1.5.0.1
      umsregistration_initjob:
        repository: cp.icr.io/cp/cp4a/aae/dba-umsregistration-initjob
        tag: 22.0.1
    sc_ingress_enable: false
    sc_image_repository: cp.icr.io
    sc_deployment_platform: ROKS
    sc_deployment_fncm_license: non-production
